.body{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 400px;
    background-color:orange;

}
.StyleA{
    position: relative;
    width: 600px;
    height: 600px;
    border-radius: 10px;
    background-color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
   height: 50%;
   margin-left: 400px;
}

.StyleB{
    background-position: center;
}



.style{
  background-position: center;
  color: rgb(253, 178, 37);
  width: 500px;
}

.button1{
    background-color: rgb(228, 229, 230);
    color:rgb(26, 19, 54);
}


.b-style{
    color:rgb(26, 19, 54) ;
}

.b-style input{

    color: rgb(26, 19, 54);
}



.a{
  border-radius: 5px;
  
color: rgb(26, 19, 54);

width: 50%;
    height: 100%;
    margin-top: 15px;
    padding: 10px;
    margin-right: 76px;

}
.b{
  
    color: rgb(26, 19, 54);
        height: 100%;
        margin-top: 15px;
        padding: 10px;
        margin-right: 79px;
        width: 300px;
}
.c{
 
    border-radius: 5px;
  
    color: rgb(26, 19, 54);
    
    width: 50%;
        height: 100%;
        margin-top: 15px;
        padding: 10px;
        margin-right: 90px;
}
.d{
  
    width: 50%;
    height: 100%;
    margin-top: 15px;
    padding: 10px;
    margin-right: 70px;
color: rgb(26, 19, 54);
}


.e{
    display: inline-block;
    padding-left: 0px;
    margin-left: 0;
    margin-right: 40px;
color: rgb(26, 19, 54);
}

.f{
    display: inline-block;
    margin-left: 0;
    margin-right: 40px;
    display: inline-block;
    color: rgb(26, 19, 54);
}
.g{
    display: inline-block;
    padding-left: 0px;
    margin-left: 0;
    margin-right: 50px;
    color: rgb(26, 19, 54);
}

.k{
    width: 50%;
    height: 100%;
    margin-top: 15px;
    padding: 10px;
    margin-right: 70px;
    color: rgb(26, 19, 54);
}



.l{
    width: 20%;
    height: 100%;
    margin-top: 15px;
    padding:5px;
    margin-right: 80px;
    margin-left: 0px;
color: rgb(26, 19, 54);
}


.q{
    display: inline-block;
    margin-right: 50px;
    color: rgb(26, 19, 54);
    
}

.o{
    display: inline-block;
    padding: 0px;
    margin-right: 75px;
color: rgb(26, 19, 54);
}
.button2222{
    color: rgb(26, 19, 54); 
     width: 80%;
    border: 4px ;
    border-radius: 8px;
}



.div{
    width: 50px;
    min-height: 50vh;
    padding: 5%;
    background-image:linear-gradient(rgba(0,8,51,0,9),rgba(0,8,51,0,9)),url();
     background-position: center;
     background-size: cover;
     display: flex;
   background-color:rgb(119, 117, 117);
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
  }
  .searchbar{
  width: 500px;
  height: 40px;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
}
  .searchbar input{
    background: transparent;
    flex: 1;
    border-radius: 30px;
    outline: none;
    padding: 24px;
    font-size: 20px;
    color: black;
    height: 3px;
    width: 350px;
  }