.travel{
    background-color: orange;
}
.Traveler{
    background-color: white;
    width: 600pX;
    height: 630px;
  border-radius: 8px;
}

.form-controlName {
        border-radius: none;
        width: 300px;
        height: 100%;
        padding: 10px;
         margin-left: -6%;
}

.input-form-controlEmail{
    border-radius: none;
     width: 300px;
    height: 100%;
    padding: 10px;
    margin-left: 4%;

}
.input-form-controlPassword{
    border-radius: none;
    width: 300px;
    height: 100%;
    padding: 10px;
    margin-left: -1%;

}

.form-controlPhone{
    border-radius: none;
    width: 300px;
    height: 100%;
    padding: 10px;
    margin-left:20px;

}

.input-form-controlStatus{
    border-radius: none;
    width: 300px;
    height: 100%;
    padding: 10px;
    margin-left: 3%;

}
.form-controlRole{
    border-radius: none;
    width: 300px;
    height: 100%;
    padding: 10px;
    margin-right:-12px;

}

.nn{
    margin-right:40px;
}

.role{
    margin-right: 10%;
}
.name{
    margin-right: 15%;
}
.AddTraveler{
    width:40%;
    height: 40px;
    background-color: rgb(232, 233, 233);
    border-radius: 8px;
    margin: 30px;
    border: none;
}