.AppointmentUpdate{
    background-color: orange;
}



.divUpdateAppointment {
    width: 40%;
   height: 60%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    background-color: white;
  
}


.handle{
    margin-right:40px;
}

.from333{
    border-radius: none;
        width: 300px;
        height: 100%;
        padding: 10px;
        margin-right: 20px;
        
    
}


.from444{
    border-radius: 5px;
    color: rgb(26, 19, 54);
    width: 300px;
     height: 100%;
     margin-top: 15px;
     padding: 10px;
     margin-left:2px;
}
.from555{
    border-radius: 5px;
    color: rgb(26, 19, 54);
    width: 50%;
     height: 100%;
     margin-top: 15px;
     padding: 10px;
     margin-right: 76px;
}
.from666{
    border-radius: 5px;
    color: rgb(26, 19, 54);
    width: 50%;
     height: 100%;
     margin-top: 15px;
     padding: 10px;
     margin-right: 50px;
}
.from777{
    border-radius: 5px;
    color: rgb(26, 19, 54);
    width: 50%;
     height: 100%;
     margin-top: 15px;
     padding: 10px;
     margin-right: 90px;
}
.from888{
    border-radius: 5px;
    color: rgb(26, 19, 54);
    width: 50%;
     height: 100%;
     margin-top: 15px;
     padding: 10px;
     margin-right: 76px;
}
.AppointmentUpdatebutton{
    width:200px;
    height: 30px;
    margin: 50px;
    border: none;
    background-color: rgb(232, 233, 233);
    border-radius: 20px;
    
    }

    .TimeHandle{
       padding: 40px;
        margin-left: 20px;
    }
    .DayHandle{
        padding: 40px;
        margin-left: 10px;
    }
    .TicketHandle{
        padding: 40px;
        margin-left: -20px;
    }