.sectionUpdate{
    background-color: orange;
}
.YUUYI2{
    background-color: white;
    width: 500px;
    height: 400px;
    border-radius: 30px;
}

.labelUpdate{
    width: 200px;
    height: 25px;
    margin: 50px;
}
.buttonUpdateDes{
    width:40%;
    height: 40px;
    background-color: rgb(232, 233, 233);
    border-radius: 50px;
    margin: 10px;
    border: none;
}
