.ooo{
    background-color: orange;
}
.YUUYI{
    background-color: white;
    width: 500px;
    height: 300px;
}
.in{
    width: 200px;
    height: 20px;
}
.la{
    width: 200px;
    height: 20px;
}
.Up{
    width: 300px;
    background-color: rgb(233, 232, 232);
}
.st{
    padding: 10px;
    margin: 10px;
}
.ro{
    padding: 10px;
    margin: 10px;
}